# Ignore everything
*
!*/
# But not these files...
!/.gitignore
!parsers/generatedfiles/*.py
!parsers/generatedfiles/*.ipynb
!parsers/parseExcel.py
!parsers/eval.ipynb
!corrected.csv
!reactionsICs_w_species.xlsx
!article
# Include the entire folder and its contents
!articleData/
!articleData/**
